name: component-release

on:
  workflow_dispatch:
    inputs:
      skip-unit-tests:
        type: boolean
      version-increase-type:
        description: 'SemVer version increase type'
        type: choice
        options:
          - patch
          - minor
          - major
        required: true

permissions:
  contents: write

jobs:
  release-prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Infer release and next development version from increase type
        id: version
        run: |
          CURRENT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT//')
          echo "Current development version: $CURRENT_VERSION"
          
          IFS='.' read -r major minor patch <<< "$CURRENT_VERSION"
          
          case "${{ inputs.version-increase-type }}" in
          major)
           RELEASE_VERSION="$((major + 1)).0.0"
           NEXT_VERSION="$((major + 1)).0.1"
           ;;
          minor)
           RELEASE_VERSION="${major}.$((minor + 1)).0"
           NEXT_VERSION="${major}.$((minor + 1)).1"
           ;;
          patch)
           RELEASE_VERSION=$CURRENT_VERSION
           NEXT_VERSION="${major}.${minor}.$((patch + 1))"
           ;;
          esac
          
          echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
          echo "next_version=$NEXT_VERSION" >> $GITHUB_OUTPUT

      - name: Set release version in pom.xml
        run: |
          mvn versions:set -DnewVersion=${{ steps.version.outputs.release_version }} -DgenerateBackupPoms=false

      - name: Update changelog for release
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          perl -pi -e "s/## \{\{NEW_RELEASE_VERSION_PLACEHOLDER\}\}/## $VERSION/" CHANGELOG.md


      - name: Commit release version
        run: |
          git config user.name "github-actions[bot]" # or take user's name
          git config user.email "github-actions[bot]@users.noreply.github.com" # or take user's email
          git add pom.xml CHANGELOG.md
          git commit -m "Release version ${{ steps.version.outputs.release_version }}"
          git push origin master

      - name: Create and push tag
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          git tag "v$VERSION"
          git push origin "v$VERSION"

      - name: Create github release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          gh release create "v$VERSION" \
            --title "Release $VERSION" \
      # Post-release steps
      - name: Set next snapshot version
        run: |
          mvn versions:set -DnewVersion="${{ steps.version.outputs.next_version }}-SNAPSHOT" -DgenerateBackupPoms=false

      - name: Add new changelog placeholder
        run: |
          printf "## {{NEW_RELEASE_VERSION_PLACEHOLDER}}\n\n%s" "$(cat CHANGELOG.md)" > CHANGELOG.md.tmp
          mv CHANGELOG.md.tmp CHANGELOG.md

      - name: Commit next snapshot version
        run: |
          git config user.name "github-actions[bot]" # or take user's name
          git config user.email "github-actions[bot]@users.noreply.github.com" # or take user's email
          git add pom.xml CHANGELOG.md
          git commit -m "Prepare for development of next version"
          git push origin master

#  run_build:
#    uses: <...>
#    secrets: <...>
#
#    permissions:
#      <...>
#
#    with:
#      skip-unit-tests: "${{ inputs.skip-unit-tests == true }}"
#
