name: component-release

on:
  workflow_dispatch:
    inputs:
      skip-unit-tests:
        type: boolean
      new-version:
        type: string # major/minor/patch checkboxes or add validation for string
        required: true

permissions:
  contents: write

jobs:
    release-prepare:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        # Post-release steps
        - name: Set next snapshot version
          run: |
            mvn versions:set -DnewVersion="${{ inputs.new-version }}-SNAPSHOT" -DgenerateBackupPoms=false

        - name: Commit next snapshot version
          run: |
            git config user.name "github-actions[bot]" # or take user's name
            git config user.email "github-actions[bot]@users.noreply.github.com" # or take user's email
            git add pom.xml
            git commit -m "Prepare for development of next version"
            git push origin main

#  run_build:
#    uses: <...>
#    secrets: <...>
#
#    permissions:
#      <...>
#
#    with:
#      skip-unit-tests: "${{ inputs.skip-unit-tests == true }}"
#
