name: component-release

on:
  workflow_dispatch:
    inputs:
      skip-unit-tests:
        type: boolean
      version-increase-type:
        description: 'SemVer version increase type'
        type: choice
        options:
          - patch
          - minor
          - major
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Pre-release steps: infer version, modify pom and changelog:
      # Remove -SNAPSHOT suffix from version in pom, swap placeholder to version in changelog
      - name: Infer release and next development version from increase type
        id: version
        run: |
          CURRENT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT//')
          echo "Current development version: $CURRENT_VERSION"
          
          IFS='.' read -r major minor patch <<< "$CURRENT_VERSION"
          
          case "${{ inputs.version-increase-type }}" in
          major)
           RELEASE_VERSION="$((major + 1)).0.0"
           NEXT_VERSION="$((major + 1)).0.1"
           ;;
          minor)
           RELEASE_VERSION="${major}.$((minor + 1)).0"
           NEXT_VERSION="${major}.$((minor + 1)).1"
           ;;
          patch)
           RELEASE_VERSION=$CURRENT_VERSION
           NEXT_VERSION="${major}.${minor}.$((patch + 1))"
           ;;
          esac
          
          echo "release_version=$RELEASE_VERSION"
          echo "next_version=$NEXT_VERSION"
          
          echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
          echo "next_version=$NEXT_VERSION" >> $GITHUB_OUTPUT

      - name: Create and checkout temp branch
        run: |
          BRANCH_NAME="release/${{ steps.version.outputs.release_version }}"
          echo "TEMP_BRANCH=$BRANCH_NAME" >> $GITHUB_ENV
          git checkout -b $BRANCH_NAME

      - name: Set release version in pom.xml
        run: |
          mvn versions:set -DnewVersion=${{ steps.version.outputs.release_version }} -DgenerateBackupPoms=false

      - name: Update changelog for release
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          perl -pi -e "s/## \{\{NEW_RELEASE_VERSION_PLACEHOLDER\}\}/## $VERSION/" CHANGELOG.md

      - name: Commit release version
        run: |
          git config user.name "github-actions[bot]" # or take user's name
          git config user.email "github-actions[bot]@users.noreply.github.com" # or take user's email
          git add pom.xml CHANGELOG.md
          git commit -m "release ${{ steps.version.outputs.release_version }}"
          git push origin master

      # Post-release steps: modify pom and changelog for further development:
      # return -SNAPSHOT suffix to pom and placeholder to changelog
      - name: Set next snapshot version
        run: |
          mvn versions:set -DnewVersion="${{ steps.version.outputs.next_version }}-SNAPSHOT" -DgenerateBackupPoms=false

      - name: Add new changelog placeholder
        run: |
          printf "## {{NEW_RELEASE_VERSION_PLACEHOLDER}}\n\n%s" "$(cat CHANGELOG.md)" > CHANGELOG.md.tmp
          mv CHANGELOG.md.tmp CHANGELOG.md

      - name: Commit next snapshot version
        run: |
          git config user.name "github-actions[bot]" # or take user's name
          git config user.email "github-actions[bot]@users.noreply.github.com" # or take user's email
          git add pom.xml CHANGELOG.md
          git commit -m "post-release/${{ steps.version.outputs.next_version }}"
          git push origin master

      - name: Push temp branch
        run: |
          git push origin $TEMP_BRANCH

      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          gh pr create \
            --title "Release ${{ steps.version.outputs.release_version }}" \
            --body "This PR was automatically created by GitHub Actions workflow" \
            --base main \
            --head $TEMP_BRANCH

      - name: Merge Pull Request
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          gh pr merge $TEMP_BRANCH --delete-branch

      # Release: create tag, release
      - name: Create and push tag
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          git tag "v$VERSION" HEAD~1
          git push origin "v$VERSION"

      #          cleanup: delete temp release branch (something failed - ok, stop here)
      #          cleanup: delete temp release branch (it's ok? - good, continue to tag)

      - name: Create github release
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          VERSION="${{ steps.version.outputs.release_version }}"
          gh release create "v$VERSION" \
            --title "Release $VERSION" \
          
          

#  run_build:
#    uses: <...>
#    secrets: <...>
#
#    permissions:
#      <...>
#
#    with:
#      skip-unit-tests: "${{ inputs.skip-unit-tests == true }}"
#
